ul {
    text-align: center;
    list-style: none;
  }

li {
    border-style: solid;
    border-color: black;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

li:hover {
    background-color: goldenrod;
}

.results-button {
    padding: 10px;
    margin: 5px;
}

a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: gold;
}

li:focus {
    background-color:goldenrod;
}

.chosen {
    color:goldenrod
}